body {
    margin: 0%;
    height: 100%;
    background-color: white;
}

.menu {
    background-color: rgb(5, 4, 75);
    margin: 0%;
    padding: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menu li {
    padding: 0%;
    margin: 0%;
    display: inline-block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container a {
    color: mintcream;
    padding: 10px 10px 10px 10px;
    text-decoration: inherit;
}

.menu a:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
}

.container {
    position: center;
    margin: auto;
    float: right !important;
    margin-right: 70px;
}

.logo {
    margin: auto;
    float: left !important;
    margin-left: 70px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.parallax {
    margin: 0%;
    background-color: rgb(78, 78, 78);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

.text {
    padding-top: 175px;
    background-size: 100%;
    text-align: center;
    color: white;
}

.text h2 {
    color: rgba(255, 255, 255, 0.575);
    text-align: center;
    text-align: justify;
    text-indent: 4em;
    font-size: 12pt;
}

.text figure {
    float: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 40px
}

.hoverbutton a {
    border: 2px solid white;
    font-style: bold;
    color: white;
}

.button a {
    border: 2px solid mintcream;
    background-color: rgb(78, 78, 78);
    color: mintcream;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.parallax2 {
    margin: 0%;
    background: rgb(78, 78, 78);
    background: linear-gradient(0deg, rgba(193, 193, 193, 1) 0%, rgba(251, 251, 251, 1) 50%, rgba(193, 193, 193, 1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container2 {
    height: 100%;
    width: 80%;
    margin: auto;
}

.container3 {
    height: 100%;
    width: 80%;
    margin: auto;
}

.parallax3 {
    margin: 0%;
    background: rgb(0, 0, 0);
    background-image: url(img/desenhos/Fundo\ Desenhos.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container4 {
    height: 100%;
    width: 69%;
    margin: auto;
}

.container5 {
    height: 100%;
    width: 69%;
    margin: auto;
}

.texto {
    background-color: rgba(255, 255, 255, 0.575);
    padding: 40px 80px;
}

.texto p {
    color: black;
}

.texto2 {
    background-color: rgba(255, 255, 255, 0.575);
    padding: 40px 0px;
    color: black;
}

.texto2 p {
    color: black;
}

.texto3 {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 40px 0px;
    color: white;
}

h1 {
    font-size: 40pt;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    background: linear-gradient(90deg, rgba(193, 193, 193, 1) 0%, rgba(251, 251, 251, 1) 100%);
    opacity: 1;
    text-align: center;
    color: black;
    font-size: 25pt;
}

p {
    text-align: center;
    text-align: justify;
    text-indent: 4em;
    color: white;
}

a {
    text-transform: uppercase;
    font-size: 12px;
}

li {
    color: white;
}

.listadedesenho li {
    padding: 0%;
    margin: 0%;
    display: inline-block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px
}

.listadedesenho figure {
    margin: 60px;
}

.listadelinguagem li {
    padding: 0%;
    margin: 0%;
    display: inline-block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px
}

.listadelinguagem figure {
    margin: 10px;
}

.destaque {
    font-style: bold;
    background: linear-gradient(90deg, rgba(193, 193, 193, 1) 0%, rgba(251, 251, 251, 1) 100%);
}

.location {
    background-image: url(img/icone/pin.png);
}

.email {
    background-image: url(img/icone/email.png);
}

.telephone {
    background-image: url(img/icone/telephone.png);
}

.rodape {
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(175, 174, 174);
    color: white;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 4px;
}

.rodape p {
    text-align: center;
}

.rodape2 {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(193, 193, 193, 1);
    text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
}

.paragrafo {
    padding-bottom: 11px;
}

html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}