body {
    margin: 0%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.menu {
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menu li {
    padding: 0%;
    margin: 0%;
    display: inline-block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container a {
    color: black;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    text-decoration: inherit;
}

.menu a:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: #08B96F;
}

.container {
    position: center;
    margin: auto;
    float: right !important;
    margin-right: 70px;
    margin-top: 4px;
}
.logo {
    margin: auto;
    float: left !important;
    margin-left: 70px;
}
figure img {
    width: 30px;
    height: 30px;
    background-size: 30px;
}
.parallax{
    margin-top: 100px;
}
.parallax h1{
    text-align: center;
}

.parallax video{
    width: 750px;
    margin:0 auto;
    display: block;
}
video {
    margin:auto;
}

.rodape {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 4px;
}

.rodape p {
    text-align: center;
}

.rodape2 {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(238, 238, 238);
    text-align: center;
    color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}